/* hide scrollbar but allow scrolling */

.column {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */   
    overflow: scroll;
}

.column::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}